<!DOCTYPE html>
<html>
  <head>
    <title> <%= "Foreman Radiator" %></title>
    <meta http-equiv="refresh" content="60" />
    <link href="/stylesheets/radiator/radiator.css?1356630927" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/radiator/reset.css?1356630927" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/radiator/jquery-1.7.2.js?1356630927" type="text/javascript"></script>
    <script src="/javascripts/radiator/radiator.js?1356630927" type="text/javascript"></script>
    <body class='radiator_controller radiator_index_action no-sidebar'>
          <%= yield %>
  </body>
</html>
